ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  font-size: 14px;
  margin: 0;
}

:root {
  --main-color: #212121;
  --bg-color: #f5f5f5;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --white-color: #ffffff;
  --bg-gradient: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-decoration: none;
}
@media (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__secondary {
  display: block;
  color: var(--white-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.logo__accent {
  color: var(--accent-color);
}

.page-header {
  box-sizing: border-box;
  position: relative;
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.list {
  list-style: none;
  margin: 0%;
}

.main-nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.site-nav {
  list-style: none;
  margin: 0%;
  display: none;
  margin-left: 93px;
}
.site-nav li:not(:last-child) {
  margin-right: 50px;
}
@media (min-width: 768px) {
  .site-nav {
    margin-left: 88px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link.current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link.current::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}
@media (max-width: 767px) {
  .site-nav__link.current::after {
    display: none;
  }
}

.contacts {
  display: none;
  margin-left: auto;
}
.contacts li:not(:last-child) {
  margin-right: 50px;
}
@media (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .contacts li:not(:last-child) {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: row;
    display: flex;
    margin-left: auto;
  }
  .contacts li:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
@media (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
    display: inline-block;
    padding: 0;
  }
  .contacts__link:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.menu-button-open {
  margin: 0%;
  padding: 0%;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.menu-button-open:hover {
  fill: var(--accent-color);
}
.menu-button-open:focus {
  fill: var(--accent-color);
}
@media (min-width: 768px) {
  .menu-button-open {
    display: none;
  }
}

.menu-button-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  margin: 0;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.menu-button-close:hover {
  fill: var(--accent-color);
}
.menu-button-close:focus {
  fill: var(--accent-color);
}

.menu-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: var(--white-color);
  width: 100vw;
  height: 100%;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: auto;
}

.mob-site-nav__link {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--main-color);
}
.mob-site-nav__link:hover {
  color: var(--accent-color);
}
.mob-site-nav__link:focus {
  color: var(--accent-color);
}

.mob-contacts__link-big {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  margin-bottom: 32px;
}

.mob-contacts__link-small {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.mob-contacts__link-small:hover {
  color: var(--accent-color);
}
.mob-contacts__link-small:focus {
  color: var(--accent-color);
}

.mob-soc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mob-soc__item {
  text-decoration: none !important;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color) !important;
}
.mob-soc__item:first-child {
  padding-left: 0;
}
.mob-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-box-bottom {
  position: absolute;
  bottom: 48px;
  left: 40px;
}

.is-hidden {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .container {
    box-sizing: border-box;
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-work {
  display: none;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}
@media (min-width: 1200px) {
  .container-work {
    display: block;
    width: 1170px;
  }
}

.container-header {
  box-sizing: border-box;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media (max-width: 767px) {
  .container-header {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container-header {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container-header {
    width: 1170px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.hero {
  padding: 118px 0;
  margin: 0 auto;
  background-image: var(--bg-gradient), url(../images/bg.jpg);
  width: 100%;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 320px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/header-bg-mobile.jpg);
  }
}
@media (min-width: 320px) and (min-device-pixel-ratio: 2), (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 320px) and (min-resolution: 192dpi), (min-width: 320px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/header-bg-mobile-2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/header-bg-tablet.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/header-bg-tablet-x2.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: var(--bg-gradient), url(../images/header-bg-desk.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/header-bg-desk-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    width: 360px;
  }
}

.hero__button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: auto;
  border: 0;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  background: #188ce8;
}

.social-button {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.social-button__item {
  width: 44px;
  height: 44px;
  list-style: none;
}

.social-button__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-button__link:hover, .social-button__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-button__icon {
  fill: currentColor;
}

.social-button__icon--footer {
  fill: var(--white-color);
}

.modal__button-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-submit:focus, .modal__button-submit:hover {
  background-color: #188ce8;
}

.modal__button-close {
  position: absolute;
  top: 0%;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  border: 0;
  background-color: var(--white-color);
}

.modal__button-close-icon {
  fill: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 9px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close-icon:hover, .modal__button-close-icon:focus {
  fill: var(--accent-color);
}

.footer__button-submit {
  display: inline-flex;
  padding: 13px 28px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__button-submit:hover, .footer__button-submit:focus {
  background-color: #188ce8;
}

.button__icon--right {
  margin-left: 10px;
}

.portfolio-button__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button__list li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button__item {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button__item:hover, .portfolio-button__item:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.advantage {
  background-color: var(--white-color);
}

.advantage__list {
  display: block;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.advantage__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .advantage__item {
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .advantage__item {
    width: 270px;
  }
}

.advantage__image {
  margin: 0 100px;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .advantage__title {
    text-align: center;
  }
}

.advantage__text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--secondary-color);
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
}
.work__list li:not(:last-child) {
  margin-right: 30px;
}

.work__item {
  position: relative;
  height: 294px;
}

.work__text {
  position: absolute;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  color: var(--white-color);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  display: block;
}
@media (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .team__list {
    justify-content: center;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__container {
  padding: 30px;
}

.team__name {
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team__profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .clients__list {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .clients__list {
    width: 1200px;
  }
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover, .clients__item:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__image {
  display: inline-block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover .clients__image {
  fill: var(--accent-color);
}
.clients__image:hover, .clients__image:focus {
  fill: var(--accent-color);
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  scale: 0.8;
}

.backdrop.is-hidden .modal {
  transform: scale(0.2) translate(-50%, -50%);
}

.backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.modal {
  box-sizing: border-box;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  border-radius: 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
}

.modal__list {
  list-style: none;
}

.modal__label {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal__text {
  display: block;
  margin-bottom: 4px;
}

.modal__possition {
  display: block;
  position: relative;
}

.modal__input {
  box-sizing: border-box;
  padding-left: 42px;
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__icon {
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__feedback {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  height: 120px;
  width: 100%;
  display: inline-block;
  padding: 12px 16px;
  resize: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__feedback:focus {
  border-color: var(--accent-color);
}
.modal__feedback::-moz-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__feedback:-ms-input-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__feedback::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__check-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .modal__check-label {
    justify-content: center;
  }
}

.modal__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__style-check {
  fill: var(--white-color);
  margin-left: 12px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  outline: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__check:checked + .modal__style-check {
  fill: var(--accent-color);
  background-color: #188ce8;
  border-color: var(--accent-color);
  background-origin: border-box;
}
@media (min-width: 1200px) {
  .modal__style-check {
    margin-left: 0%;
  }
}

.modal__polycy-text {
  margin-left: 7px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
@media (min-width: 1200px) {
  .modal__polycy-text {
    font-size: 14px;
  }
}

.modal__polycy-link {
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media (min-width: 1200px) {
  .modal__polycy-link {
    font-size: 14px;
    margin-left: 2px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: block;
}
@media (min-width: 768px) {
  .footer__container {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

.footer__column {
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__column {
    display: inline-block;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__column {
    margin-left: 61px;
  }
}
@media (min-width: 1200px) {
  .footer__column {
    text-align: left;
    margin-right: 70px;
  }
}

.footer__adress-list {
  list-style: none;
  margin: 0%;
}

@media (min-width: 768px) {
  .footer__box {
    position: absolute;
    top: 5px;
    right: 89px;
    display: inline-block;
    margin-bottom: auto;
  }
}
@media (min-width: 1200px) {
  .footer__box {
    position: static;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: auto;
  }
}

.footer__adress-item {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer__adress-item:not(:last-child) {
  margin-bottom: 8px;
  display: block;
}

.footer__contacts {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contacts:hover, .footer__contacts:focus {
  color: var(--accent-color);
}

.footer__centred {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .footer__centred {
    margin-top: 0px;
    margin-left: 12px;
  }
}

.footer__join-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 60px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__join-text {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .footer__form {
    display: flex;
  }
}

.footer__newsletter {
  margin-left: auto;
}
@media (min-width: 1200px) {
  .footer__newsletter {
    margin-left: 0px;
  }
}

.footer__newsletter-text {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
  text-transform: uppercase;
  color: var(--white-color);
}
@media (min-width: 1200px) {
  .footer__newsletter-text {
    display: inline-block;
    margin-top: 0px;
  }
}

.footer__newsletter-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: #2f303a;
}
@media (min-width: 1200px) {
  .footer__newsletter-input {
    display: inline-block;
    width: 358px;
  }
}

.portfolio__grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.portfolio__item {
  width: 370px;
  background: #ffffff;
  margin-bottom: 30px;
}
.portfolio__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio__link:hover .portfolio__overlay::after {
  transform: translateY(0);
}
.portfolio__overlay::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__overlay-descrip {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.portfolio__link:hover .portfolio__overlay-descrip {
  transform: translateY(0);
}

.portfolio__box {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio__title {
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--secondary-color);
}/*# sourceMappingURL=main.css.map */