.advantage {
  background-color: var(--white-color);
}

.advantage__list {
  display: block;
  justify-content: space-evenly;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media (min-width: 1200px) {
  }
}

.advantage__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #f5f4fa;
  height: 120px;

  margin-bottom: 30px;
}

.advantage__item {
  @media (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media (min-width: 1200px) {
    width: 270px;
  }
}

.advantage__image {
  margin: 0 100px;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    text-align: center;
  }
}

.advantage__text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;

  color: var(--secondary-color);
}
